fastapi
uvicorn[standard]
python-dotenv
cryptography
requests
aiofiles
python-multipart
opencv-python
dlib
numpy
google-generativeai
openai
groq
anthropic
pypdf
pyttsx3
openai-whisper
pydantic-settings
aiosqlite
email-validator
pdfplumber
python-docx
easyocr
